


/* Ani del */
  .col-sm-4 p-3:nth-child(){ transition-delay: 2000ms


  }
  .col-sm-4 p-3:nth-child(){
    transition-delay: 6000ms
    
  }
  .col-sm-4 p-3:nth-child(){
    transition-delay: 10000ms
    
  }
/*nav*/
/* Reduce the size of the image in the navbar */
.navbar-text {
  font-weight: bold; 
  color: #fff; 
}
.navbar img {
  max-width: 100px; 
  height: auto; 
}

/* Adjust the margin to separate the links from the search bar */
.navbar-nav {
  margin-top: 0; 
}

/* Center-align the links vertically */
.navbar-nav .nav-link {
  display: flex;
  align-items: center;
}


  /* Styles for the hero section */
  
.cr7hero {
  position: relative;
  max-width: 2000px; 
  margin: 0 auto; 
}

.herov {
  position: relative;
  max-width: 2000px; 
  margin: 0px auto; 
}

.herov video {
  width: 100%;
      height: auto; 
      max-height: calc(60vh - 30px); 
      background-color: transparent;
      object-fit: cover;
}




.overlay-text {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px;
  color: #fff;
  font-family: 'JuventusFans-Bold';
  
  text-align: center;
  border-radius: 10px;
}

.name {
  font-size: 65px;
  font-weight: 50PX;
  line-height: 1;
}

.lastname {
  font-size: 65px;
  font-weight: 50PX;
  line-height: 1;
}

/*product Card*/
.fixed-height-card {
  height: 80px; 
}


